.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron

_targets/
_targets/meta/
_targets/objects/

**/*.pptx
**/*.pdf
**/*.rds
**/nul
**/*.parquet
**/*.html
img/**/*.png

documents/
presentations/

data-raw/eyetracking/*.csv
/.luarc.json
nul
_targets.yaml
docs/_targets.yaml
manuscript/_targets.yaml
results/fits/*.rds