.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron

_targets.yaml
_targets/meta/
_targets/progress/
_targets/objects/
_targets/.gitignore

!.gitignore

**/*.pptx
**/*.pdf
**/*.rds
**/nul
**/*.parquet
*.zip

img/**/*.png

data-raw/eyetracking-bcn/*.csv
data-raw/eyetracking-oxf/*.csv
data/
.luarc.json
nul

assets/**/**.png

docs/_targets.yaml
docs/_freeze
docs/.quarto

model/*.rds
model/fits/*.rds
model/predictions/
model/posterior/

img/**/*.png

stimuli/getters/
stimuli/sounds/
stimuli/img/

out/**/*.csv
out/**/*.rds

/.quarto/

assets/**/*.png
**/*.quarto_ipynb

docs/index_files/