.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron

_targets.yaml
_targets/meta/
_targets/progress/
_targets/objects/
_targets/.gitignore

!.gitignore

**/*.pptx
**/*.pdf
**/*.rds
**/nul
**/*.parquet
*.zip

data-raw/eyetracking-bcn/*.csv
data-raw/eyetracking-oxf/*.csv

.luarc.json
nul

docs/_targets.yaml
docs/_freeze/

manuscript/_targets.yaml
manuscript/_freeze
manuscript/*.docx
manuscript/*.doc
manuscript/*.sty
manuscript/_targets.yaml
manuscript/.quarto/

results/fits/
results/predictions/
results/posterior/


stimuli/getters/
stimuli/sounds/
stimuli/images/

